/*---------- star rating ----------*/
.star-rating, .back-stars, .front-stars {
    display: flex;
  }
  
  .star-rating {
    align-items: center;
    font-size: 1em;
    justify-content: center;
    margin-top: 10px;
    height:20px;
    position:relative;
    width: 145px;
  }
  
  .back-stars {
    color: #bb5252;
    position: absolute;
    right:0;
    left:0;
    top:0;
    bottom:0;
    text-shadow: 4px 4px 10px #843a3a;
  }
  
  .front-stars {
    color: #FFBC0B;
    position: absolute;
    left:0;
    top:0;
    overflow:hidden;
    bottom:0;
    text-shadow: 2px 2px 5px #d29b09;
    top: 0;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 500px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  .pac-container {
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

#WindowLoad
{
    position:fixed;
    top:0px;
    left:0px;
    z-index:3200;
    filter:alpha(opacity=65);
   -moz-opacity:65;
    opacity:0.65;
    background:#999;
}

/* for the admin menu */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.wrapper1 {
  display: flex;
  align-items: stretch;
}



#content1 {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}


#sidebar1 p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#sidebar1 a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar1 {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar1 .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar1 ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar1 ul p {
    color: #fff;
    padding: 10px;
}

#sidebar1 ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar1 ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar1 ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
#sidebar1 ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


@media (max-width: 768px) {
    #sidebar1 {
        margin-left: -250px;
    }
    #sidebar1.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.vertical-menu {
  width: 280px;
  padding-left: 10px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

/*Para cajas de texto largas*/
@media screen and (min-width: 992px) {
    .modal-lg {
      width: 950px; /* New width for large modal */
    }
}


.icon-c {
    color: #23f187;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2473f2;
}
.icon-d {
    color: #ede62f;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2473f2;
}

.list-group1{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}




.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}





.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: #164692;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #15952a;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0d661c;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}